{% extends "base.html" %}

{% block title %}Add Password{% endblock %}

{% block content %}
<div class="add-password-container">

    <form class="add-password-form" id="add-password-form" method="POST" action="{{ url_for('add_password') }}">

        <div class="password-generator">
            <h2><center>Add a New Password</center></h2>
            <div class="form-group">
                <label for="description">What is this password for?</label>
                <input type="text" id="description" name="description" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="passcode">Passcode</label>
                <input type="password" id="passcode" name="passcode" required>
            </div>
            <div class="password-display">
                <span id="generated-password" class="password-text"></span>
                <button type="button" id="copy-password" title="Copy to clipboard">&#x2398;</button>
                <button type="button" id="generate-password" title="Generate new password">&#x21bb;</button>
            </div>
            <div class="password-options">
                <div class="option">
                    <label for="password-length">Password Length</label>
                    <input type="number" id="password-length" value="12" min="6" max="32">
                    <input type="range" id="password-length-range" value="12" min="6" max="32">
                </div>
                <div class="checkbox-group">
                    <div class="option">
                        <input type="checkbox" id="uppercase" checked>
                        <label for="uppercase">Uppercase</label>
                    </div>
                    <div class="option">
                        <input type="checkbox" id="lowercase" checked>
                        <label for="lowercase">Lowercase</label>
                    </div>
                    <div class="option">
                        <input type="checkbox" id="numbers" checked>
                        <label for="numbers">Numbers</label>
                    </div>
                    <div class="option">
                        <input type="checkbox" id="symbols" checked>
                        <label for="symbols">Symbols</label>
                    </div>
                </div>
            </div>
            <button type="submit">Save Password</button>
        </div>
    </form>
</div>
{% endblock %}
